<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @town.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @town.lon %>
</p>

<p>
   <strong>Météo:</strong><br>
   Temps: <%= resource.currently.summary %><br>
   Tepérature: <%= ((resource.currently.temperature- 32)*5/9).round %>
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
