<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @town.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @town.lon %>
</p>

<p>
   <strong>Weather:</strong><br>
     <span class="weatherInfo">Summary: <%= resource.currently.summary %></span><br>
     <span class="weatherInfo">Temperature: <%= ((resource.currently.temperature- 32)*5/9).round %>°C</span><br>
     <span class="weatherInfo" id="tempMin">Temperature min: <%= ((resource.currently.temperatureMin- 32)*5/9).round %>°C</span><br>
     <span class="weatherInfo" id="tempMin">Temperature max: <%= ((resource.currently.temperatureMax- 32)*5/9).round %>°C</span><br>
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
